body {
  font-family: "Lato", sans-serif;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  width: 100%;
}
#header-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 25px 0px;
}

#navigation-links {
	width: 100%;
}

#bottom-navigation {
	text-align: center;
	padding-top: 25px;
}



.sidenav {
  height: 95%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, .8);
  overflow: hidden;
  transition: 0.5s;
  margin: 20px;
  border-radius: 20px;
}

.sidenav a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #80eb09;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/** Image Overlay **/

.button-container {
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(17, 17, 17, 1);
}

.button-container:hover .overlay {
  opacity: .8;
}

.text {
  color: white;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}