body {
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: #2d2d2d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 10px;
    z-index: 2;
}

#navbar img {
    width: 150px;
    height: 150px;
    border: 3px solid #1ed760;
    border-radius: 50%;
}

#contact-info-left {
    margin-right: auto;
}

#contact-info-right {
    margin-left: auto;
}

.section {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    z-index: 1;
    font-size: 32px; /* Increase the text size as needed */
    font-family: 'Your Stylish Font', sans-serif; /* Change 'Your Stylish Font' to your preferred stylish font */
}

.section h2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-right: 20px;
    color: #1ed760;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
}

#about, #tech-stack, #experience, #projects, #education-certificates {
    margin-top: 80px;
    border: none;
}
